    <div id="wrap">
      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>Where's the Storm?</h1>
        </div>
        <p class="lead">Where's the Storm is a simple web app that tells you when the next storm is coming.</p>
      </div>
      <div id="push"></div>
    </div>