    <div id="wrap">
      <!-- Begin page content -->

      <div class="container">
        <div class="page-header">
          <h1>Where's the Storm?</h1>
        </div>
        <p class="lead">Where's the Storm is a simple web app that tells you when the next storm is coming.</p>

  <!--- Search Form -->
        <form class="form-search">
          <input type="text" class="input-medium search-query" name="city">
          <button type="submit" class="btn">Search</button>
        </form>

  <!--- Lat/Long Form -->
        <form class="form-inline" accept-charset="UTF-8" action="/get_forecast" method="post">
        <!-- Lat Long -->
          <input type="text" class="input-small" placeholder="Latitude" name="latitude">
          <input type="text" class="input-small" placeholder="Longitude" name="longitude">
          <button type="submit" class="btn">Go!</button>
        </form>


      </div>
      <div id="push"></div>
    </div>



<!--JS Code for Skycons -->
<%= javascript_tag do %>
  var skycons = new Skycons({"color": "#89CFF0"});
  skycons.add("icon1", Skycons.<%=@icon%>);
  skycons.play();
<% end %>