<!DOCTYPE html>
<html>
<head>
  <title>Storm</title>
<!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Coda:bold" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Nobile" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Kreon" rel="stylesheet" type="text/css">
<!-- End Fonts-->
  
<!-- Bootstrap -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!--End Bootstrap-->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" href="/">Where's the Storm?</a>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="/">Link</a></li>
      </ul>
</nav>
<!-- End Navbar -->

<!--Page Content -->
      <div class="container">
        <%= yield %>
      </div>
<!-- End Page Content -->

<!-- Backstretch -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="/assets/jquery.backstretch.min.js"></script>
<script>$.backstretch("/assets/storm.jpg");</script>
<!-- END Backstretch -->
   
<!--Footer-->
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <p class="navbar-text pull-left" id="footer">Created by 
    <a href="https://twitter.com/jim_challenger" class="navbar-link">Jim Challenger</a> &
    <a href="https://twitter.com/sirjustinwhite" class="navbar-link">Justin White</a>
  </p>
  <p class="navbar-text pull-right" id="footer">Powered by 
    <a href="http://forecast.io" class="navbar-link" target="_blank">Forecast.io</a>
</nav>
<!--End Footer-->    
</body>
</html>
